* {
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(234, 213, 224);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    max-width: 470px;
    background-image: linear-gradient(to right , rgb(77, 164, 164) ,rgb(9, 106, 106) , rgb(37, 37, 116));
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    border: 1px solid rgb(234, 213, 224);
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border: none;
    border-radius: 30px;
    height: 25px;
    padding: 10px 5px;
    font-size: 18px;
    width: 100%;
    height: auto;
    margin-right: 16px;
    flex: 1;
}

button {
    width: 50px;
    border: none;
    border-radius: 50%;
    height: 45px;
    cursor: pointer;
}

.sea {
    width: 16px;
}

.weather-icon {
    margin-top: 30px;
    width: 170px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 5px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 30px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity , .wind {
    font-size: 30px;
}

.weather {
    display: none;
}

.error {
    margin-top: 10px;
    text-align: left;
    display: none;
}

 
