body {
    background-color: bisque;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vh;
    width: 18vh;
    border: none;
    border-radius: 1rem;
    color: red;
    background-color: white;
    font-size: 8vmin;
}

.reset {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
}

.new {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
}

.msg {
    color: white;
    font-size: 8vmin;
}

.hide{
    display: none;
}

.msg-container {
    height: 30vmin;
}